body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 37px;
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: 600;
}

img#icon {
  width: 110px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#search-button {
  background-color: rgb(82 70 125);
  border: none;
}

#search-button:hover {
  cursor: pointer;
  background-color: #d6d4ed;
  color: #000;
}

#weather-condition {
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

#temperature {
  font-size: 80px;
  font-family: monospace;
}

#divider {
  font-weight: lighter;
}

#Open-source-link {
  color: #000;
  text-decoration: underline;
}

#Open-source-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #837ac7;
}

.row {
  margin-bottom: 30px;
}

.conversion {
  font-size: 13px;
  position: relative;
  top: -40px;
  left: 5px;
}

.weather {
  text-align: center;
  max-width: 800px;
  margin: 150px auto;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 33px 93px rgb(82 70 125 / 57%);
  background-color: rgba(217, 206, 232, 0.342);
  border: 5px solid #d6d4ed;
}

.conversion .active {
  color: #000;
  cursor: default;
}

.conversion .active:hover {
  text-decoration: none;
  cursor: default;
}

.date-time {
  margin-top: 0;
  margin-bottom: 47px;
}

.weather-forecast {
  margin-top: 25px;
  text-align: center;
  font-family: monospace;
  font-weight: 600;
}

.weather-forecast-date {
  font-size: 15px;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temp-low {
  opacity: 0.5;
}
